<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>sign</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>guestbook</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.GuestbookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>enqueue</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.Enqueue</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>worker</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.Worker</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>readData</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.ReadData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>serve</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.Serve</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>memcache</servlet-name>
		<servlet-class>com.google.appengine.demos.guestbook.Memcache</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memcache</servlet-name>
		<url-pattern>/memcache</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>readData</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>enqueue</servlet-name>
		<url-pattern>/enqueue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>worker</servlet-name>
		<url-pattern>/worker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sign</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>guestbook</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.icy_sun</param-value>
		</init-param>
		<init-param>
			<!-- speed up initial Jersey loading by deactivating WADL -->
			<param-name>jersey.config.server.wadl.disableWadl</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/context/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>guestbook.jsp</welcome-file>
	</welcome-file-list>

</web-app>
